<div *ngIf="loading; else canvas" style="text-align: center">
  <h1>Loading...</h1>
  <h2 *ngIf="modelAccuracy$ | async as acc">
    Epoch Accuracy: {{ acc | number }}
  </h2>
</div>
<ng-template #canvas>
  <button (click)="toggleVisor()">Toggle Visor</button>
  <app-mnist-canvas (submission)="submission($event)"></app-mnist-canvas>
  <div *ngFor="let layer of layerImgs" style="text-align: center">
    <h3>Layer {{ layer.layer }}: {{ layer.name }}</h3>
    <div *ngIf="layer.multiple; else dense" class="layer">
      <div *ngFor="let img of layer.data" class="layer-img">
        <app-mnist-img [data]="img"></app-mnist-img>
      </div>
    </div>
    <ng-template #dense>
      <div class="layer">
        <div *ngFor="let pixel of layer.data">
          <app-mnist-pixel [data]="pixel"></app-mnist-pixel>
        </div>
      </div>
    </ng-template>
  </div>
  <h1 *ngIf="prediction">Prediction: {{ prediction }}</h1>
  <pre *ngIf="distribution">{{ distribution | json }}</pre>
</ng-template>
<div>
  <h1>What is this?</h1>
  <p>
    At ng-conf 2019 I did a tensorflowjs workshop where
    <a href="http://www.cs.cmu.edu/~aharley/vis/">this was demoed.</a>
  </p>
  <p>
    Ironically... it doesn't actually use tensorflowjs (or Angular), so I wanted
    to do a quick recreation.
  </p>
  <p>...but... what does it do?</p>
  <p>
    You can sketch a number (0-9) and a Convolutional Neural Network will
    attempt to predict what number you wrote.
  </p>
  <p>Once you hit submit, you can see the output of each layer in the CNN.</p>
  <p>
    The model is very roughly tuned, so the predictions are not very good... I
    just wanted to put this together as a VERY rough POC
  </p>
  <p>Which also explains the lack of styles...</p>
</div>
